# BAIS:3250 Final Project
# Web Scraping and Data Cleaning
# Mady McKee - 5/9/25

### Import packages

In [118]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import random

### Use NFLPenalties.com to scrape penalty data

In [120]:
def scrape_penalties(browser, teams, penalty_count, penalty_yards, benefit_count, benefit_yards, net_count, net_yards, season, current_year):
    
    team_elements = browser.find_elements(By.XPATH, '//div[@class="inner"]/table/tbody/tr/td[1]')
    
    for team in team_elements:
        teams.append(team.text)
        season.append(current_year)
        
    body = browser.find_element(By.XPATH, '//table/tbody')

    rows = body.find_elements(By.XPATH, './/tr')
    
    for row in rows:
        data = row.find_elements(By.XPATH, './/td')
        penalty_count.append(data[3].text)
        penalty_yards.append(data[4].text)
        benefit_count.append(data[5].text)
        benefit_yards.append(data[6].text)
        net_count.append(data[7].text)
        net_yards.append(data[8].text)

    return teams, penalty_count, penalty_yards, benefit_count, benefit_yards, net_count, net_yards, season

In [121]:
browser = webdriver.Chrome()

teams = []
penalty_count = []
penalty_yards = []
benefit_count = []
benefit_yards = []
net_count = []
net_yards = []
season = []

year = 2015
page_counter = 1

while year <= 2024:
    print(year)
    url = "https://www.nflpenalties.com/index.php?view=reg_season&year=" + str(year)
    print(url)
    browser.get(url)
    scrape_penalties(browser, teams, penalty_count, penalty_yards, benefit_count, benefit_yards, net_count, net_yards, season, year)
    
    time.sleep(random.uniform(2, 8))
    
    page_counter += 1
    year += 1

2015
https://www.nflpenalties.com/index.php?view=reg_season&year=2015
2016
https://www.nflpenalties.com/index.php?view=reg_season&year=2016
2017
https://www.nflpenalties.com/index.php?view=reg_season&year=2017
2018
https://www.nflpenalties.com/index.php?view=reg_season&year=2018
2019
https://www.nflpenalties.com/index.php?view=reg_season&year=2019
2020
https://www.nflpenalties.com/index.php?view=reg_season&year=2020
2021
https://www.nflpenalties.com/index.php?view=reg_season&year=2021
2022
https://www.nflpenalties.com/index.php?view=reg_season&year=2022
2023
https://www.nflpenalties.com/index.php?view=reg_season&year=2023
2024
https://www.nflpenalties.com/index.php?view=reg_season&year=2024

In [122]:
penalties = pd.DataFrame({
    'Season': season,
    'Team': teams,
    'Penalty Count': penalty_count,
    'Penalty Yards': penalty_yards,
    'Beneficiary Count': benefit_count,
    'Beneficiary Yards': benefit_yards,
    'Net Count': net_count,
    'Net Yards': net_yards
})

display(penalties)

,Season,Team,Penalty Count,Penalty Yards,Beneficiary Count,Beneficiary Yards,Net Count,Net Yards
0,2015,Buffalo,143,1249,113,906,-30,-343
1,2015,Tampa Bay,143,1195,104,862,-39,-333
2,2015,Oakland,138,1102,104,943,-34,-159
3,2015,Miami,134,1090,121,1005,-13,-85
4,2015,New Orleans,130,1112,114,887,-16,-225
...,...,...,...,...,...,...,...,...
315,2024,LA Chargers,96,718,101,869,5,151
316,2024,Kansas City,94,829,107,849,13,20
317,2024,Indianapolis,93,684,92,862,-1,178
318,2024,Arizona,92,806,100,803,8,-3
319,2024,LA Rams,91,798,112,943,21,145

#### Now extract more subjective penalty data: offensive holding and defensive pass interference

In [124]:
def scrape_holding(browser, teams, penalty_count, benefit_count, season, current_year):
    
    team_elements = browser.find_elements(By.XPATH, '//div[@class="inner"]/table/tbody/tr/td[1]')
    
    for team in team_elements:
        teams.append(team.text)
        season.append(current_year)
        
    body = browser.find_element(By.XPATH, '//table/tbody')

    rows = body.find_elements(By.XPATH, './/tr')
    
    for row in rows:
        data = row.find_elements(By.XPATH, './/td')
        penalty_count.append(data[2].text)
        benefit_count.append(data[7].text)

    return teams, penalty_count, benefit_count, season

In [125]:
browser = webdriver.Chrome()

teams = []
penalty_count = []
benefit_count = []
season = []

year = 2015
page_counter = 1

while year <= 2024:
    print(year)
    url = "https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=" + str(year)
    print(url)
    browser.get(url)
    scrape_holding(browser, teams, penalty_count, benefit_count, season, year)
    
    time.sleep(random.uniform(2, 8))
    
    page_counter += 1
    year += 1

2015
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2015
2016
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2016
2017
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2017
2018
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2018
2019
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2019
2020
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2020
2021
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2021
2022
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2022
2023
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2023
2024
https://www.nflpenalties.com/penalty/offensive-holding?view=team&year=2024

In [126]:
holding = pd.DataFrame({
    'Season': season,
    'Team': teams,
    'Holding Count': penalty_count,
    'Opponent Holding Count': benefit_count
})

display(holding)

     Season          Team Holding Count Opponent Holding Count
0      2015       Chicago            35                     22
1      2015       Buffalo            33                     30
2      2015     San Diego            32                     22
3      2015     Green Bay            29                     18
4      2015     Tampa Bay            29                     14
..      ...           ...           ...                    ...
315    2024     Minnesota            16                     27
316    2024    Cincinnati            15                     11
317    2024       Detroit            15                     29
318    2024  Indianapolis            14                     18
319    2024  Jacksonville            13                     24

[320 rows x 4 columns]

In [127]:
def scrape_pi(browser, teams, penalty_count, penalty_yards, benefit_count, benefit_yards, season, current_year):
    
    team_elements = browser.find_elements(By.XPATH, '//div[@class="inner"]/table/tbody/tr/td[1]')
    
    for team in team_elements:
        teams.append(team.text)
        season.append(current_year)
        
    body = browser.find_element(By.XPATH, '//table/tbody')

    rows = body.find_elements(By.XPATH, './/tr')
    
    for row in rows:
        data = row.find_elements(By.XPATH, './/td')
        penalty_count.append(data[2].text)
        penalty_yards.append(data[3].text)
        benefit_count.append(data[7].text)
        benefit_yards.append(data[8].text)

    return teams, penalty_count, penalty_yards, benefit_count, benefit_yards, season

In [128]:
browser = webdriver.Chrome()

teams = []
penalty_count = []
penalty_yards = []
benefit_count = []
benefit_yards = []
season = []

year = 2015
page_counter = 1

while year <= 2024:
    print(year)
    url = "https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=" + str(year)
    print(url)
    browser.get(url)
    scrape_pi(browser, teams, penalty_count, penalty_yards, benefit_count, benefit_yards, season, year)
    
    time.sleep(random.uniform(2, 8))
    
    page_counter += 1
    year += 1

2015
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2015
2016
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2016
2017
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2017
2018
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2018
2019
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2019
2020
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2020
2021
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2021
2022
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2022
2023
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2023
2024
https://www.nflpenalties.com/penalty/defensive-pass-interference?view=team&year=2024

In [129]:
pass_interference = pd.DataFrame({
    'Season': season,
    'Team': teams,
    'PI Count': penalty_count,
    'PI Yards': penalty_yards,
    'Opponent PI Count': benefit_count,
    'Opponent PI Yards': benefit_yards
})

display(pass_interference)

     Season         Team PI Count PI Yards Opponent PI Count Opponent PI Yards
0      2015    Baltimore       15      252                 4                42
1      2015      Oakland       15      230                 8               165
2      2015       Denver       12      245                 9               116
3      2015  New England       12      198                10               233
4      2015      Buffalo       11      145                 4                99
..      ...          ...      ...      ...               ...               ...
315    2024        Miami        6       97                 8                93
316    2024   Pittsburgh        6       87                 8               156
317    2024      Houston        5      101                 8               122
318    2024    Green Bay        4       40                11               226
319    2024      Atlanta        3       74                11               156

[320 rows x 6 columns]

### Use FootballDB.com to scrape offensive and defensive stats

In [131]:
def scrape_offense(browser, teams, points, rush_yards, pass_yards, tot_yards, season, current_year):
    
    table = browser.find_element(By.TAG_NAME, 'tbody')

    rows = table.find_elements(By.XPATH, './/tr')
    
    for row in rows:
        data = row.find_elements(By.XPATH, './/td')
        teams.append(data[0].text)
        points.append(data[2].text)
        rush_yards.append(data[4].text.replace(',', ''))
        pass_yards.append(data[6].text.replace(',', ''))
        tot_yards.append(data[8].text.replace(',', ''))
        season.append(current_year)

    return teams, points, rush_yards, pass_yards, tot_yards, season

In [132]:
browser = webdriver.Chrome()

teams = []
points = []
rush_yards = []
pass_yards = []
tot_yards = []
season = []

year = 2015
page_counter = 1

while year <= 2024:
    print(year)
    url = "https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/" + str(year)
    print(url)
    browser.get(url)
    scrape_offense(browser, teams, points, rush_yards, pass_yards, tot_yards, season, year)
    
    time.sleep(random.uniform(2, 8))
    
    page_counter += 1
    year += 1

2015
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2015
2016
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2016
2017
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2017
2018
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2018
2019
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2019
2020
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2020
2021
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2021
2022
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2022
2023
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2023
2024
https://www.footballdb.com/statistics/nfl/team-stats/offense-totals/2024

In [133]:
offense = pd.DataFrame({
    'Season': season,
    'Team': teams,
    'Total Points': points,
    'Rushing Yards': rush_yards,
    'Passing Yards': pass_yards,
    'Total Yards': tot_yards
})

display(offense)

     Season         Team Total Points Rushing Yards Passing Yards Total Yards
0      2015      Arizona          489          1917          4616        6533
1      2015  New Orleans          408          1491          4970        6461
2      2015   Pittsburgh          423          1724          4603        6327
3      2015      Seattle          423          2268          3790        6058
4      2015    Tampa Bay          342          2162          3852        6014
..      ...          ...          ...           ...           ...         ...
315    2024    Cleveland          258          1608          3506        5114
316    2024     Carolina          341          1878          3188        5066
317    2024    NY Giants          273          1783          3228        5011
318    2024  New England          289          1969          2995        4964
319    2024      Chicago          310          1734          3086        4820

[320 rows x 6 columns]

In [134]:
def scrape_defense(browser, teams, points, rush_yards, pass_yards, tot_yards, season, current_year):
    
    table = browser.find_element(By.TAG_NAME, 'tbody')

    rows = table.find_elements(By.XPATH, './/tr')
    
    for row in rows:
        data = row.find_elements(By.XPATH, './/td')
        teams.append(data[0].text)
        points.append(data[2].text)
        rush_yards.append(data[4].text.replace(',', ''))
        pass_yards.append(data[6].text.replace(',', ''))
        tot_yards.append(data[8].text.replace(',', ''))
        season.append(current_year)

    return teams, points, rush_yards, pass_yards, tot_yards, season

In [135]:
browser = webdriver.Chrome()

teams = []
points = []
rush_yards = []
pass_yards = []
tot_yards = []
season = []

year = 2015
page_counter = 1

while year <= 2024:
    print(year)
    url = "https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/" + str(year)
    print(url)
    browser.get(url)
    scrape_defense(browser, teams, points, rush_yards, pass_yards, tot_yards, season, year)
    
    time.sleep(random.uniform(2, 8))
    
    page_counter += 1
    year += 1

2015
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2015
2016
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2016
2017
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2017
2018
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2018
2019
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2019
2020
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2020
2021
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2021
2022
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2022
2023
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2023
2024
https://www.footballdb.com/statistics/nfl/team-stats/defense-totals/2024

In [136]:
defense = pd.DataFrame({
    'Season': season,
    'Team': teams,
    'Total Points Allowed': points,
    'Rushing Yards Allowed': rush_yards,
    'Passing Yards Allowed': pass_yards,
    'Total Yards Allowed': tot_yards
})

display(defense)

,Season,Team,Total Points Allowed,Rushing Yards Allowed,Passing Yards Allowed,Total Yards Allowed
0,2015,Denver,296,1337,3193,4530
1,2015,Seattle,277,1304,3364,4668
2,2015,Houston,313,1597,3366,4963
3,2015,NY Jets,314,1335,3763,5098
4,2015,Arizona,313,1460,3687,5147
...,...,...,...,...,...,...
315,2024,Dallas,468,2331,3708,6039
316,2024,Indianapolis,427,2241,3899,6140
317,2024,New Orleans,398,2404,4055,6459
318,2024,Jacksonville,435,2254,4375,6629
319,2024,Carolina,534,3057,3820,6877

#### There have been several team location changes over the last 10 years. Let's use a mapping dictionary to update them, along with standardizing punctuation for the New York teams.

In [138]:
team_mapping = {
    'San Diego': 'LA Chargers',
    'St. Louis': 'LA Rams',
    'Los Angeles': 'LA Rams',
    'Oakland': 'Las Vegas',
    'N.Y. Jets': 'NY Jets',
    'N.Y. Giants': 'NY Giants'
}

In [139]:
penalties['Team'] = penalties['Team'].replace(team_mapping)

holding['Team'] = holding['Team'].replace(team_mapping)

pass_interference['Team'] = pass_interference['Team'].replace(team_mapping)

offense['Team'] = offense['Team'].replace(team_mapping)

defense['Team'] = defense['Team'].replace(team_mapping)

### Use NFL.com to scrape wins, losses, and playoffs data

In [141]:
def scrape_record(browser, teams, win, loss, playoffs, season, current_year):
    
    table = browser.find_element(By.TAG_NAME, 'tbody')

    rows = table.find_elements(By.XPATH, './/tr')
    
    for row in rows:
        data = row.find_elements(By.XPATH, './/td')
        team = data[0]
        team_name = team.text.split()[0]
        teams.append(team_name)
        win.append(data[1].text)
        loss.append(data[2].text)
        season.append(current_year)
        if team.find_elements(By.XPATH, './/sup[text()="x"]'):
            playoff = 1
        else:
            playoff = 0
        playoffs.append(playoff)
    
    return teams, win, loss, playoffs, season

In [142]:
browser = webdriver.Chrome()

teams = []
win = []
loss = []
playoffs = []
season = []

year = 2015
page_counter = 1

while year <= 2024:
    print(year)
    url = "https://www.nfl.com/standings/league/" + str(year) + "/REG"
    print(url)
    browser.get(url)
    scrape_record(browser, teams, win, loss, playoffs, season, year)
    
    time.sleep(random.uniform(2, 8))
    
    page_counter += 1
    year += 1

2015
https://www.nfl.com/standings/league/2015/REG
2016
https://www.nfl.com/standings/league/2016/REG
2017
https://www.nfl.com/standings/league/2017/REG
2018
https://www.nfl.com/standings/league/2018/REG
2019
https://www.nfl.com/standings/league/2019/REG
2020
https://www.nfl.com/standings/league/2020/REG
2021
https://www.nfl.com/standings/league/2021/REG
2022
https://www.nfl.com/standings/league/2022/REG
2023
https://www.nfl.com/standings/league/2023/REG
2024
https://www.nfl.com/standings/league/2024/REG

In [143]:
record = pd.DataFrame({
    'Season': season,
    'Team': teams,
    'Wins': win,
    'Losses': loss,
    'Playoffs': playoffs
})

display(record)

     Season       Team Wins Losses  Playoffs
0      2015   Panthers   15      1         1
1      2015  Cardinals   13      3         1
2      2015    Bengals   12      4         1
3      2015    Broncos   12      4         1
4      2015   Patriots   12      4         1
..      ...        ...  ...    ...       ...
315    2024    Raiders    4     13         0
316    2024   Patriots    4     13         0
317    2024     Browns    3     14         0
318    2024     Giants    3     14         0
319    2024     Titans    3     14         0

[320 rows x 5 columns]

#### NFL.com uses mascots instead of cities for the teams. Let's use a mapping dictionary to change them to cities to match the previous dataframes.

In [145]:
team_mapping = {
    'Giants': 'NY Giants',
    'Jets': 'NY Jets',
    'Bills': 'Buffalo',
    'Patriots': 'New England',
    'Dolphins': 'Miami',
    'Steelers': 'Pittsburgh',
    'Ravens': 'Baltimore',
    'Bengals': 'Cincinnati',
    'Browns': 'Cleveland',
    'Texans': 'Houston',
    'Colts': 'Indianapolis',
    'Jaguars': 'Jacksonville',
    'Titans': 'Tennessee',
    'Broncos': 'Denver',
    'Chiefs': 'Kansas City',
    'Raiders': 'Las Vegas',
    'Chargers': 'LA Chargers',
    'Cowboys': 'Dallas',
    'Eagles': 'Philadelphia',
    'Commanders': 'Washington',
    'Redskins': 'Washington',
    'Football': 'Washington',
    'Packers': 'Green Bay',
    'Vikings': 'Minnesota',
    'Bears': 'Chicago',
    'Lions': 'Detroit',
    'Buccaneers': 'Tampa Bay',
    'Saints': 'New Orleans',
    'Falcons': 'Atlanta',
    'Panthers': 'Carolina',
    '49ers': 'San Francisco',
    'Niners': 'San Francisco',
    'Rams': 'LA Rams',
    'Seahawks': 'Seattle',
    'Cardinals': 'Arizona'
}

In [146]:
record['Team'] = record['Team'].replace(team_mapping)

display(record)

     Season         Team Wins Losses  Playoffs
0      2015     Carolina   15      1         1
1      2015      Arizona   13      3         1
2      2015   Cincinnati   12      4         1
3      2015       Denver   12      4         1
4      2015  New England   12      4         1
..      ...          ...  ...    ...       ...
315    2024    Las Vegas    4     13         0
316    2024  New England    4     13         0
317    2024    Cleveland    3     14         0
318    2024    NY Giants    3     14         0
319    2024    Tennessee    3     14         0

[320 rows x 5 columns]

### Lastly, merge the dataframes together and save as CSV file that will be used for analysis.

In [148]:
stats = pd.merge(record, penalties, on=['Team', 'Season'])
stats = pd.merge(stats, holding, on=['Team', 'Season'])
stats = pd.merge(stats, pass_interference, on=['Team', 'Season'])
stats = pd.merge(stats, offense, on=['Team', 'Season'])
stats = pd.merge(stats, defense, on=['Team', 'Season'])

display(stats)

,Season,Team,Wins,Losses,Playoffs,Penalty Count,Penalty Yards,Beneficiary Count,Beneficiary Yards,Net Count,...,Opponent PI Count,Opponent PI Yards,Total Points,Rushing Yards,Passing Yards,Total Yards,Total Points Allowed,Rushing Yards Allowed,Passing Yards Allowed,Total Yards Allowed
0,2015,Carolina,15,1,1,103,887,99,822,-4,...,3,64,500,2282,3589,5871,308,1415,3752,5167
1,2015,Arizona,13,3,1,94,763,130,1202,36,...,18,295,489,1917,4616,6533,313,1460,3687,5147
2,2015,Cincinnati,12,4,1,111,917,116,1063,5,...,9,199,419,1805,3923,5728,279,1477,3976,5453
3,2015,Denver,12,4,1,115,1063,104,773,-11,...,9,116,355,1718,3970,5688,296,1337,3193,4530
4,2015,New England,12,4,1,96,860,112,1013,16,...,10,233,465,1404,4587,5991,315,1580,3851,5431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,2024,Las Vegas,4,13,0,96,807,117,852,21,...,11,152,309,1357,3797,5154,434,1987,3676,5663
316,2024,New England,4,13,0,111,916,100,772,-11,...,13,138,289,1969,2995,4964,417,2233,3596,5829
317,2024,Cleveland,3,14,0,119,915,108,890,-11,...,7,115,258,1608,3506,5114,435,2205,3611,5816
318,2024,NY Giants,3,14,0,112,928,106,870,-6,...,14,203,273,1783,3228,5011,415,2316,3580,5896
319,2024,Tennessee,3,14,0,132,1030,120,988,-12,...,11,137,311,1855,3317,5172,460,2277,3014,5291

In [149]:
stats.to_csv('nfl_penalties.csv', index=False)